body {
 background-color: #222;
  text-align:center;
  position: relative;
  color: black;
}


.navbar-default {
    background-color: transparent;
    padding: px 0;
    border: 0;
}

.jumbotron {
  padding-top: 200px;
  min-height: 600px;
  margin-bottom: 0;
  background-image: url("..//images/background-cover.jpg");
  background-size:  cover;
  background-attachment: fixed;
  }


#artists-section {
  text-align: center;
  background-color: #222;
  display: block;
  font-family: 'rock salt';
  color:white;
}

#title {
  font-family:'Rock Salt';
}
#location {
  font-family:'Rock Salt';
  font-size: 20px;
}
#tagline {
  font-family:'Rock Salt';


}

#partners-section {
  text-align: center;
  display: block;
  background-color: #222;
  padding-top: 90px;
  min-height: 600px;
  margin-bottom: 0;

}

#artists-section {
  text-align: center;
  display: block;
  background-color: #222;
  padding-top: 90px;
  min-height: 600px;
  margin-bottom: 0;
  font-family: 'rock salt';

}

img {
  border-radius: 50%;
  width:250px;
  height:250px;
}

#about-us-section {
  text-align: center;
  display: block;
  background-color: #222;
  padding-top: 90px;
  min-height: 600px;
  margin-bottom: 0;

}

#contact-section {
  text-align: center;
  display: block;
  background-color: #222;
  padding-top: 90px;
  min-height: 600px;
  margin-bottom: 0;

}






.about-section {
  padding-top: 90px;
  min-height: 600px;
  margin-bottom: 0;
  background-image:url("images/background-cover.jpg");
  background-size: cover;
  background-attachment: fixed;
}
