body {
 background-color: #222;
  text-align:center;
  position: relative;
  color: black;
}


.navbar-default {
    background-color: transparent;
    padding: px 0;
    border: 0;
}

.jumbotron {
  padding-top: 200px;
  min-height: 600px;
  margin-bottom: 0;
  background-image: url("..//images/background-cover.jpg");
  background-size:  cover;
  background-attachment: fixed;
  padding: 18%;
  }


.section-headings {
  padding-bottom: 20px 50px 100px 50px;
  margin-bottom: 75px;
  }


  img {
    border-radius: 50%;
    width:250px;
    height:250px;
  }

#artists-section {
  text-align: center;
  background-color: #222;
  display: block;
  font-family: 'rock salt';
  color:white;
  min-height: 600px;
  margin-bottom: 0;
  padding-top: 90px;
  min-height: 600px;
  margin-bottom: 0;
}

#stormzy-giggs-skepta{
padding-bottom: 75px;
}

#kreptkonan-wretch32-jhus{
padding: auto;
}


#partners-section {
  text-align: center;
  display: block;
  background-color: #222;
  min-height: 600px;
  margin-bottom: 0;
  font-family: 'rock salt';
  padding-top: 90px;
  min-height: 600px;
  margin-bottom: 0;
}


#partners-section {
  text-align: center;
  display: block;
  background-color: #808080;
  min-height: 600px;
  margin-bottom: 0;
  padding-top: 90px;
  min-height: 600px;
  margin-bottom: 0;

}



#about-us-section {
  text-align: center;
  display: block;
  background-color: #222;
  padding-top: 90px;
  min-height: 600px;
  margin-bottom: 0;

}

#contact-section {
  text-align: center;
  display: block;
  background-color:#808080;
  padding-top: 90px;
  padding-bottom: 100px;
  min-height: 600px;
}



.address{
  padding-bottom: 50px;
}

.form-control {
display: inline-block;
text-align: center;
width: 50%;
border: 1px solid black;
background-color: transparent;
color: white;
position
}


#message {
  height: 75px;
  -webkit-transition: height 0.4s ease-in-out;
     transition: height 0.4s ease-in-out;
}


#title {
  font-family:'Rock Salt';
}

#location {
  font-family:'Rock Salt';
  font-size: 20px;
}

#tagline {
  font-family:'Rock Salt';
}
